body{
    margin: 0;
    padding: 0;
    background: url(img/đăngkí.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 600px;
    height: 470px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #3970b0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="button"]:hover
{
    cursor: pointer;
}
.loginbox a{
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: wheat;
}

.loginbox a:hover
{
    color: white;
}

.fa {
    padding: 12px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
  }

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: rgb(233, 155, 38);
    color: white;
}
.fa-youtube{
    background:red ;
    color: #fff;
}
.fa-google{
    background:#55ACEE ;
    color: #fff;
}
.fa-rss{
    background:#15082d ;
    color: #f8a800;
}
.fa-vimeo{
    background:#55ACEE ;
    color: #fff;
}
.fa-pinterest{
    background:red ;
    color: #fff;
}

.fa:hover{
    opacity: 0.7;
}






























































